# Host PC / Task 1
VISION_PC_MODEL_PATH=pc_server/models/best.pt
VISION_CAPTURE_DIR=captures
VISION_PC_HOST=0.0.0.0
VISION_PC_PORT=4000
VISION_PC_CONFIDENCE=0.60
VISION_PC_IOU=0.45
VISION_NEAREST_HEIGHT_TOLERANCE=0.10
VISION_MAX_UPLOAD_BYTES=8388608
VISION_SAVE_WORKERS=2
