# Raspberry Pi / Tasks 1 and 2
VISION_PC_DETECT_URL=http://192.168.1.100:4000/detect
VISION_HTTP_TIMEOUT_SECONDS=10
VISION_CAMERA_WIDTH=640
VISION_CAMERA_HEIGHT=480
VISION_CAMERA_FRAMERATE=20
VISION_CAMERA_ROTATION=0
VISION_TFLITE_MODEL_PATH=rpi/models/best_arrows.tflite
VISION_TFLITE_LABELS_PATH=rpi/models/arrow-labels.json
VISION_TFLITE_CONFIDENCE=0.75
VISION_TFLITE_IOU=0.45
VISION_SERIAL_PORT=/dev/ttyUSB0
VISION_SERIAL_BAUD=115200
VISION_SERIAL_TIMEOUT_SECONDS=2
VISION_BLUETOOTH_CHANNEL=1
VISION_CONSENSUS_REQUIRED=3
VISION_CONSENSUS_WINDOW=5
